<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>crocodile.carlegbert.com | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="container">
      <div id="header">
        <a href="/">crocodile.carlegbert.com</a>
        <a href="https://carlegbert.com">carlegbert.com</a>
        <a href="https://github.com/carlegbert/crocodile" target="_blank">source code</a>
      </div>
      <div id="main">
        {% block main %}{% endblock %}
      </div>
    </div>
  </body>
</html>
